<!-- main container -->

<div class="container d-flex justify-content-center align_items-center min-vh-100 ">

    <!-- login container -->
    <div class="row rounder-5 p-3 bg-white box-area">
        
        <div class="col-md-6 image-content d-flex justify-content-center align-items-center flex-column">
            <!-- svg's container -->
            <div class="login-image mb-3">
                <img src="../assets/images/login-image.png" class="img-fluid" alt="illustration" style="width: 400px;">
            </div>
            <div class="catch-phrase ">
                <p class="text fs-2 text-wrap text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Welcome </p>
                <small class="text fs-5 text-wrap text-center" style="font-family: 'Courier New', Courier, monospace;">We are happy to have you back</small>
            </div>
        
        </div>
        <!-- login-form container -->
        <div class="col-md-6 login-form d-flex justify-content-center align-items-center flex-column ">
            <div class="row align_items-center justify-content-center rounder-5 p-3 bg-light" style="background: #3460E3;">
                <div class="header-text text-center fs-2 mb-4">
                    <p>LOGIN</p>  
                </div>
                <div class="input-group mb-3">
                    <input type="text" placeholder="Username" name="username" class="form-control lg fs-5">
                </div>
                <div class="input-group mb-3">
                    <input type="password" placeholder="Password" name="password" class="form-control lg fs-5">
                </div>
                <div class="input-group mb-4 d-flex justify-content-between" >
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="form-check">
                        <label for="form-check" class="form-check-label text-secondary">Remember me</label>
                    </div>
                    <div class="forgot">
                        <small><a href="#">Forgot Password?</a></small>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-primary w-100 fs-6">LogIn</button>
                </div>
                <div class="row text-center mb-4">
                    <small>Don't have an account? <a href="#">SignUp</a></small>
                </div>
                
            </div>
        </div>
    </div>

</div>
