<div class="container d-flex justify-content-center align-items-center flex-column">
    <div class="image">
        <img src="../assets/images/Page_not_found.png" alt="404 page" style="width: 600px;">
    </div>
    <div class="message d-flex flex-column justify-content-center align-items-center mb-4">
        <p class="text fs-2 fw-bold">Oops</p>
        <small class="text fs-5">Sorry can't find what you're looking for</small>
    </div>
    <div>
        <button  class="btn btn-lg btn-primary">
            Go to Home
        </button>
    </div>
</div>

