<div class="container-fluid justify-content-center align-items-center">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../assets/images/unigist.png" width="100" height="30" alt="log"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Articles
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">All</a></li>
                            <li><a class="dropdown-item" href="#">School Info</a></li>
                            <li><a class="dropdown-item" href="#">Social</a></li>
                            <li>
                                <hr class="dropdown-divider">Tech
                            </li>
                            <li><a class="dropdown-item" href="#">Education</a></li>
                            <li><a class="dropdown-item" href="#">School Events</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
    
            </div>
            <div>
                <form class="container-fluid ">
                    <button class="btn btn-primary me-2" type="button">Contribute</button>
                    <button class="btn btn-outline-primary" type="button">Join Us</button>
                </form>
            </div>
        </div>
    </nav>
    
    <!-- Blog Content -->
    <div class="container-fluid min-vh-100" style="background: #F1F4FD;">
        <div class="row recent">
            <div class="col mb-4">
                <div class="text">
                    <p class="text fs-1 fw-bold">Welcome to UniGist</p>
                    <p class="text fs-5">Random text here and there</p>
                </div>
            </div>
            <div class="row mb-4">
                <form class="container d-flex justify-content-start align-items-center">
                    <button class="btn btn-outline-primary me-2" type="button">All</button>
                    <button class="btn btn-outline-primary me-2" type="button">Education</button>
                    <button class="btn btn-outline-primary me-2" type="button">Tech</button>
                    <button class="btn btn-outline-primary me-2" type="button">Business</button>
                    <button class="btn btn-outline-primary me-2" type="button">Internship</button>
                    <button class="btn btn-outline-primary me-2" type="button">Socials</button>
                    <button class="btn btn-outline-primary me-2" type="button">Growth and Culture</button>
                </form>
            </div>
            <div class="text">
                <p class="text fs-2 fw-bold">Most Recent Post</p>
            </div>
            <hr>
            <div class="row  d-flex justify-content-center align-items-center">
                <div class="col blog_post">
                    <a href="#" class="blog_post_image">
                        <img src="../assets/images/sample.jpg" alt="" style="width: 760px; border-radius: 10px;">
                    </a>
                    <div>
                        <small>Growth and Culture</small>
                        <p class="text fs-2">10 Practical ways to improve team productivity</p>
                    </div>
                </div>
                <div class="col blog_post">
                    <div class="col">
                        <a href="#" class="blog_post_image">
                            <img src="../assets/images/sample2.jpg" alt="" style="width: 450px; height: 200px; border-radius: 10px;">
                        </a>
                        <div>
                            <small>Education</small>
                            <p class="text fs-4">Study less, Study Smart</p>
                        </div>
    
                    </div>
                    <div class="col">
                        <a href="#" class="blog_post_image">
                            <img src="../assets/images/tech.jpg" alt="" style="width: 450px; height: 200px; border-radius: 10px;">
                        </a>
                        <div>
                            <small>Tech</small>
                            <p class="text fs-4">Most Harnessed Technologies in 2023</p>
                        </div>
    
                    </div>
                    
    
                    
    
                </div>
            </div>
            <div class="text">
                <p class="text fs-2 fw-bold">Popular</p>
            </div>
            <hr>
            <div class="row">`
                <div class="col">
                    <a href="#" class="blog_post_image">
                        <img src="../assets/images/education.jpg" alt="" style="width: 400px; height: 200px;  border-radius: 10px;">
                    </a>
                    <div>
                        <small>Education</small>
                        <p class="text fs-4">CA/Exams Pressure</p>
                    </div>
    
                </div>
                <div class="col">
                    <a href="#" class="blog_post_image">
                        <img src="../assets/images/sample3.jpg" alt="" style=" width: 400px; height: 200px;  border-radius: 10px;">
                    </a>
                    <div>
                        <small>Social</small>
                        <p class="text fs-4">Job Seeker</p>
                    </div>
                </div>
                <div class="col">
                    <a href="#" class="blog_post_image">
                        <img src="../assets/images/sample2.jpg" alt="" style="width: 400px; height: 200px;  border-radius: 10px;">
                    </a>
                    <div>
                        <small>Education</small>
                        <p class="text fs-4">Study less, Study Smart</p>
                    </div>
                </div>
    
            </div>
           
        </div>
       
       
    </div>
    
</div>