<div class="container-fluid overflow-x-hidden">
    <div class=" row flex-nowrap">
        <div class="bg-primary p-2 col-auto col-md-3 col-lg-2 min-vh-100" style="background: #3460E3;">
            <a class="d-flex text-decoration-none align-items-center ms-4">
                <img src="../assets/images/unigist2.png" alt="" style="width: 150px;">
            </a>
            <ul class="nav nav-pills flex-column mt-6">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">
                        <i class="fs-5 fa fa-house"></i> <span class="fs-4 ms-4 d-none d-sm-inline">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white " aria-current="page">
                        <i class="fs-5 fa fa-table-list"></i> <span class="fs-4 ms-4 d-none d-sm-inline">Articles</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white " aria-current="page">
                        <i class="fs-5 fa fa-table-list"></i> <span class="fs-4 ms-4 d-none d-sm-inline">Layout</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white " aria-current="page">
                        <i class="fs-5 fa fa-guage"></i> <span class="fs-4 d-none ms-4 d-sm-inline">Settings</span>
                    </a>
                </li>

            </ul>
        </div>

        <!-- Content -->
        <div class="content ">
            <div class="row header d-flex flex-row justify-content-between align-items-center g-4">
                <div class="col-md-6 search">
                    <form class="d-flex justify-content-center" action="">
                        <input type="text" class="form-control" placeholder="Search">
                        <button class="btn btn-outline-primary">Search</button>
                    </form>

                </div>
                <div class="col dashboard-icons">
                    <ul class="list-unstyled d-flex justify-content-center g-3">
                        <li><a href="#"><img src="../assets/images/notification.png" alt="notification"
                                    style="height: 50px;"></a></li>
                        <li><a href="#"><img src="../assets/images/Messages.png" alt="notification"
                                    style="height: 50px;"></a></li>
                        <li><a href="#"><img src="../assets/images/profile.png" alt="notification"
                                    style="height: 50px;"></a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row container">
                <div class="row">
                    <div class="Welcome" style="background: #d894fc; border-radius: 10px;">
                        <div class="catch-phrase d-flex justify-content-between p-3">
                           <div>
                            
                            <p class="text-white align-items-center fs-7"> <span class="text fs-4 fw-bold">Hello User</span><br> Lorem ipsum 
                                dolor sit amet consectetur adipisicing elit. Temporibus facilis ex ad. Quidem voluptatem sunt corrupti 
                                nihil temporibus quasi totam repudiandae labore aut at ab laborum itaque suscipit,
                                 assumenda et quae asperiores porro eius autem cupiditate necessitatibus laudantium 
                                 soluta vitae facere? Consectetur labore praesentium neque! Minus officiis optio non 
                                 
                                </p>
                           </div>
                            <div class="create-image"><img src="../assets/images/create.png" alt=""
                                    style="width: 300px;">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-center">
                    <div class="col">
                        <div class="Recent-activity">
                            <div class="blog-post">
                                <img src="../assets/images/sample2.jpg" alt="" style="width: 250px;">
                                
                                <div class="text">
                                    <small>Education</small>
                                    <p class="text fs-4 fw-bold"> Study Less, Study Smart</p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="Recent-activity">
                            <div class="blog-post">
                                <img src="../assets/images/sample2.jpg" alt="" style="width: 250px;">
                                
                                <div class="text">
                                    <small>Education</small>
                                    <p class="text fs-4 fw-bold"> Study Less, Study Smart</p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="Recent-activity">
                            <div class="blog-post">
                                <img src="../assets/images/sample2.jpg" alt="" style="width: 250px;">
                                
                                <div class="text">
                                    <small>Education</small>
                                    <p class="text fs-4 fw-bold"> Study Less, Study Smart</p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>

</div>